body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Biryani', sans-serif;
}

h1{
    font-family: 'Black And White Picture', sans-serif;
    font-size: 4em;
}

h2{
    font-family: 'Black And White Picture', sans-serif;
    font-size: 2em;
}

button{
    align-self: center;
    width: 25%;
}

.hide{
    display: none;
}